---
// Component Imports
import { Hero, Footer, TopBar } from "../components";
import AWSManaged from "../content/AWSManaged.astro";
import Environment from "../content/Environment.astro";
import Streamline from "../content/Streamline.astro";
import YourTech from "../content/YourTech.astro";

import Body from "../layouts/Body.astro";

// Our Story
// DevOps slowing you down?
// AWS Supercharged
// Streamline your pipeline
// Use Your Tech
// Any environment any time

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Body>
  {/* Hero */}
  <div class="bg-noops-50">
    <TopBar />

    <Hero />

    <AWSManaged />

    <Streamline />

    <YourTech />

    <Environment />

    <Footer />
  </div>
</Body>
