---
// Component Imports
import {
  Hero,
  Footer,
  Streamline,
  Environment,
  YourTech,
  TopBar,
  AWSManaged,
} from "../components";

import Body from "../layouts/Body.astro";

// Our Story
// DevOps slowing you down?
// Streamline your pipeline
// Use Your Tech
// Any environment any time
// Observe more

// todo: pull out the headers and the descriptions and put them in their own astro files so they're displayed without js

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Body>
  {/* Hero */}
  <div class="bg-noops-50">
    <TopBar />

    <Hero />

    <AWSManaged client:visible />

    <Streamline client:visible />

    <YourTech client:visible />

    <Environment client:visible />

    <Footer />
  </div>
</Body>
