---
import { Navbar } from "../components";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="preload"
      href="/fonts/Mona-Sans.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link rel="preload" href="/images/noops_bg.webp" as="image" />
    <link rel="stylesheet" href="/index.css" />

    <link rel="icon" type="image/svg+xml" href="/logo_symbol.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="No_Ops - automated, secure, and efficient application deployment. Simplify your infrastructure management, enhance security, and scale effortlessly."
    />
    <title>No_Ops by Context Cloud</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
