---
import { Navbar } from "../components";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="preload"
      href="/fonts/Mona-Sans.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link rel="preload" href="/images/bg.webp" as="image" />
    <link rel="stylesheet" href="/index.css" />

    <link rel="icon" type="image/svg+xml" href="/logo_symbol.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NoOps by Context Cloud</title>
  </head>
  <body>
    <Navbar client:load />
    <div>
      <slot />
    </div>
  </body>
</html>
